html, body, #root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;

}

.YouTubeScreen {
  flex: 9 1 auto;
  position: relative;
}

/* .Options {
delete if only using search
} */

.YouTubeSearch {
  position: absolute;
  right: 0;
  margin: 4% 3%;
  opacity: 1.0;
  cursor: pointer;
}

.TwitchSearch {
  position: absolute;
  right: 0;
  margin: 0.5% 1%;
  opacity: 1.0;
  cursor: pointer;
}

.YouTubeSearch.Hide {
  opacity: 0.0;
}

.Twitch.Hide {
  opacity: 0.0;
}

.TwitchChatScreen {
  flex: 1 1 auto;
}